/* =========================================================================== *
 *  vendor :: sanitize.css - render elements consistently across browsers
 * =========================================================================== */
@import (inline) './../../node_modules/sanitize.css/dist/sanitize.css';

/* =========================================================================== *
 *  vendor :: gemini-scrollbar :: Custom overlay-scrollbars with native scrolling mechanism.
 * =========================================================================== */
// @import (inline) './../../node_modules/gemini-scrollbar/gemini-scrollbar.css';
@import (inline) './../js/lib/gemini-scrollbar/gemini-scrollbar.css';

/* =========================================================================== *
 *  lib :: kabinett
 * =========================================================================== */
@import 'kabinett-config';

@import 'variables';
@import 'fonts';
@import './utilities';

@import './ui/gradients';
@import './ui/social';
@import './ui/slider';
@import './ui/menu';
@import './ui/grid';
@import './ui/pages';
@import './ui/grid-item-clone';
@import './ui/range-selector';
@import './ui/bottom-page-links';
@import './ui/work-with-us';
@import './ui/what-we-do-circle';

@import './pages/home';
@import './pages/what-we-do';
@import './pages/case-studies';
@import './pages/about-us';
@import './pages/carrers';
@import './pages/community';
@import './pages/journal';
@import './pages/lets-talk';
@import './pages/project-planner';

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
}

.on-touch {display: none}
.touch .on-touch {display: block}

@media all and (max-width: 768px) {
  :root {font-size: 10px;}
}

@media all and (max-width: 500px) {
  :root {font-size: 7px;}
}
