ul.general-application__list{
	padding-left: 15px;
	li{
		margin-bottom:15px;
	}
}
p.general-application__listHeader{
	font-size: 18px;
	margin-bottom:10px;
}
p.general-application__commas{
	font-size:12px;
	margin-top:10px;
	margin-bottom:10px;
	color: #A0ACB3;
}