ul.general-application__list{
	padding-left: 15px;
	li{
		margin-bottom:15px;
	}
}
p.general-application__listHeader{
	font-size: 18px;
	margin-bottom:10px;
}
p.general-application__commas{
	font-size:12px;
	margin-top:10px;
	margin-bottom:10px;
	color: #A0ACB3;
}
p.general-application__uploadFilesFeedback{
	font-size: 1.083rem;
    overflow: hidden;
    color: #525F66;
    margin-top: 7px;
}
@media all and (max-width: 768px) {
  .general-application__step {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
