.page-home {}

.slides__intro {
  > .em-slide__text > .em-slide__subheading {
    font-size: 3.333rem;
    line-height: 1.100em;
    letter-spacing: 0;
  }

  > .em-slide__text > .ui-btn:hover {
    color: @accent-blue;
  }
}

.slides__cv-org {
  > .em-slide__bg {opacity: .08}

  > .em-slide__text > .ui-btn:hover {
    color: #444;
  }
}

.slides__cv-by {
  > .em-slide__bg {opacity: .3}

  > .em-slide__text > .ui-btn:hover {
    color: #1BB8BB;
  }
}
