.page-journal {}

.journal__posts {
  .-social-hover-medium{
    margin-top: 10em;
  }
}

.journal__post-item {
  display: block;
  padding: 8rem 0;
  border-bottom: 1px solid #DEDEDE;

  &:hover {
    .journal__post-title {
      color: @color-neutral-light;
    }
  }
}

.journal__post-title {
  font-size: 4.583rem;
  line-height: 1.182em;
  width: 77.6%;
  margin: 0 auto;
  transition: color 200ms linear;
}

.journal__post-meta {
  font-size: 1.417rem;
  margin-top: 3em;
}
