.grid {
  z-index: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: @color-black;
  opacity: 0;
  visibility: hidden;

  &.active {
    z-index: 2;
    opacity: 1;
    visibility: visible;
  }

  .gm-scrollbar.-vertical .thumb {
    background-color: rgba(255,255,255,.3);
  }
}

.grid__inner {
  overflow-y: auto;
}

.grid__bg-image {
  z-index: -1;
  top: 0;
  left: 0;
  background-image: url('/img/grid/bg-image.jpg');
  opacity: .15;
}

.grid__list {
  position: relatve;
  padding: 0 0 40px;
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}

.grid__item {
  width: 21vw;
  height: 21vh;
  position: relative;
  margin: 2px;

  &:hover {
    .grid__item-cover {opacity: 1}
    .grid__item-cover-img {opacity: .1}
  }
}

.grid__item-title-wrapper {
  position: absolute;
  left: 1.667rem;
  right: 1.667rem;
  bottom: 1.667rem;
}

.grid__item-index {
  font-size: 2.667rem;
  line-height: 1.1em;
  color: @color-white;
  opacity: .5;
}

.grid__item-title {
  font-size: 1.833rem;
  line-height: 1.1em;
  color: @color-white;
}

.grid__item-cover {
  height: 21vh;
  cursor: pointer;
  opacity: .75;
  transition: opacity 200ms ease;
}

.grid__item-cover-img {
  height: 21vh;
  opacity: .08;
}

.grid__footer {
  position: relatve;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  color: @color-neutral-light;
}

.grid [data-project-planner-btn] {
  font-size: 16px;
}

.grid__footer-list {
  font-size: 0;
}

.grid__footer-list-item {
  font-size: 12px;
}

.grid__footer-list-item::after {
  content: '•';
  color: @color-neutral-dark;
  font-weight: bold;
  padding: 0 5px;
}

.grid__footer-list-item.last::after {
  content: '';
  padding: 0;
}

@media all and(max-width: 730px) {
  .grid__list {
    padding: 80px 10px 20px;
    transform: none;
    position: relative;
    top: initial;
  }

  .grid__item {
    display: block;
    width: 100%;
    height: 36px;
    margin: 0;

    &.active {
      .grid__item-cover {
        display: block;
      }
    }
  }

  .grid__item-cover {
    display: none;
    height: initial;
  }

  .grid__item-title-wrapper {
    top: 10px;
    left: 10px;
    bottom: initial;
    right: 10px;
  }

  .grid__item-index,
  .grid__item-title {
    font-size: 16px;
    display: inline-block;
  }

  .grid__item-index {
    margin-right: 10px;
  }

  .grid__item-cover-img {
    display: none;
  }

  .grid__item-title {
    position: relative;
    bottom: initial;
    transform: initial;
  }

  .grid__footer {
    padding: 0;
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }
}

@media all and(max-height: 500px) {
  .grid__list {
    padding: 80px 10px 30px;
    transform: none;
    position: relative;
    top: initial;
  }

  .grid__footer {
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }
}
