.menu {
  z-index: 3;
  height: 40px;
  top: 20px;
  left: 0;
  width: 100%;
  // fill: @color-neutral-xx-dark;
}

.menu__svg {
  float: right;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: @color-black;
  transition: fill 200ms linear;

  > g {transition: opacity 200ms linear}

  .b {display: none}

  &:hover {
    > g {opacity: .8}
  }
}

.menu__logo {
  margin-left: 20px;
}


// active
.menu.active {
  // .menu__svg {fill: @color-neutral-xx-dark;}
  .menu__svg .a {display: none}
  .menu__svg .b {display: block}
}

// @media all and(max-width: 730px) {
//   .menu {
//     top: 20px;
//   }
// }
