.-social-hover-dribbble:hover {
  fill: @color-dribbble;
}

.-social-hover-twitter:hover {
  fill: @color-twitter;
}

.-social-hover-github:hover {
  fill: @color-github;
}

.-social-hover-soundcloud:hover {
  fill: @color-soundcloud;
}

.-social-hover-medium:hover {
  fill: @color-medium;
  .medium-part-1{
    fill:#32FC8D;
  }
  .medium-part-2{
    fill:#0BE370;
  }
  .medium-part-3{
    fill:#14C767;
  }
  .medium-part-4{
    fill:#00AB6C;
  }
}

.-social-hover-steam:hover {
  fill: @color-steam;
}

.-social-hover-codepen:hover {
  fill: @color-black;
}

/*
 * Medium SVG new icon path fills
 */
.medium-new-icon-svg{
  transition: all 250ms ease;
}
.medium-part-1{
  fill:#d1d2d3;
}
.medium-part-2{
  fill:#a6a8ac;
}
.medium-part-3{
  fill:#808184;
}
.medium-part-4{
  fill:#58595c;
}